# https://docs.docker.com/compose/compose-file/

version: "3.7"

services:
    db:
        container_name: psql_db
        #image: postgres
        restart: always
        build:
            context: ./db
        environment: 
            POSTGRES_DB: "records"
            POSTGRES_USER: "maximilien"
            POSTGRES_PASSWORD: "verygoodsecurity"
        ports: 
            - 5432:5432
#         volumes:
# #            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
#             - ./postgres-data:/var/lib/postgresql/data
        networks:
            - backend
    app:
        container_name: golang_api      
        restart: always
        build:
            context: ./app
        ports: 
            - "8000:8000"
        networks:
            - frontend
            - backend
        depends_on: 
            - db

    client:
        container_name: static_client
        restart: always
        build: 
            context: ./client
        ports:
            - "8080:80"
        networks: 
            - frontend
        depends_on:
            - db
            - app

networks:
    frontend:
    backend: